Links Úteis:
Page de biblioteca do git file:///C:/Program%20Files/Git/mingw64/share/doc/git-doc/git-log.html

Conseguimos visualizar como o Git funciona.: https://git-school.github.io/visualizing-git/
